.bs-docs-masthead {
  padding-top:50px;
  padding-bottom:40px;
  margin-bottom:20px;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right:0px;
}

.bs-docs-sidebar .nav > li > a {
  font-size:15px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size:14px;
}
.back-top-top {
  font-size:13px;
}

#content {
  position:relative;
}
#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}

blockquote {
  font-size: 1em;
  border-left: 4px solid #e8e8e8;
}

.alert {
  margin-top: 10px;
}

.list-group {
  margin-top:10px ;
}

.list-versions {
  position: fixed;
  bottom: 0%;
  width: 75px;
}

@media (max-width: 995px){
  .list-versions{
    right: 0%
  }

}

ul li {
  margin-bottom: 0.5em;
}

/* Markdown table styling shamelessly stolen from GitHub 💃 Such sexy. Very wow. */
.bs-docs-section table {
  border: 1px solid gray;
  margin: 1em 0;
}

.bs-docs-section tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.bs-docs-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.bs-docs-section th, td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}